<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.bxd.sip.bxd.dao.ExtUserMapper">
    <resultMap id="BaseResultMap" type="cn.bxd.sip.bxd.model.entity.ExtUser">
        <id column="HOSPITAL_ID" property="hospitalId" jdbcType="DECIMAL"/>
        <id column="EXT_USER_TYPE_ID" property="extUserTypeId" jdbcType="DECIMAL"/>
        <id column="OPEN_ID" property="openId" jdbcType="VARCHAR"/>
        <result column="LAST_LOGIN_TIME" property="lastLoginTime" jdbcType="TIMESTAMP"/>
        <result column="USER_ID" property="userId" jdbcType="DECIMAL"/>
        <result column="BOUNDED_TIME" property="boundedTime" jdbcType="TIMESTAMP"/>
    </resultMap>

    <sql id="Base_Column_List">
        HOSPITAL_ID, EXT_USER_TYPE_ID, OPEN_ID, LAST_LOGIN_TIME, USER_ID, BOUNDED_TIME
    </sql>

    <select id="selectByPrimaryKey" resultMap="BaseResultMap"
            parameterType="cn.bxd.sip.bxd.model.entity.ExtUserKey">
        select
        <include refid="Base_Column_List"/>
        from T_RHIP_EXT_USER
        where HOSPITAL_ID = #{hospitalId,jdbcType=DECIMAL}
        and EXT_USER_TYPE_ID = #{extUserTypeId,jdbcType=DECIMAL}
        and OPEN_ID = #{openId,jdbcType=VARCHAR}
    </select>

    <select id="getExtUserListByCondition" resultMap="BaseResultMap"
            parameterType="cn.bxd.sip.bxd.model.entity.ExtUser">
        select
        <include refid="Base_Column_List"/>
        from T_RHIP_EXT_USER
        where 1=1
        <if test="extUserTypeId != null">
            AND EXT_USER_TYPE_ID = #{extUserTypeId,jdbcType=DECIMAL}
        </if>
        <if test="userId != null">
            AND USER_ID = #{userId,jdbcType=DECIMAL}
        </if>
        <if test="hospitalId != null">
            AND HOSPITAL_ID = #{hospitalId,jdbcType=DECIMAL}
        </if>

    </select>

    <delete id="deleteByPrimaryKey" parameterType="cn.bxd.sip.bxd.model.entity.ExtUserKey">
        delete from T_RHIP_EXT_USER
        where HOSPITAL_ID = #{hospitalId,jdbcType=DECIMAL}
        and EXT_USER_TYPE_ID = #{extUserTypeId,jdbcType=DECIMAL}
        and OPEN_ID = #{openId,jdbcType=VARCHAR}
    </delete>

    <insert id="insert" parameterType="cn.bxd.sip.bxd.model.entity.ExtUser">
        insert into T_RHIP_EXT_USER (HOSPITAL_ID, EXT_USER_TYPE_ID, OPEN_ID,
        LAST_LOGIN_TIME, USER_ID, BOUNDED_TIME
        )
        values (#{hospitalId,jdbcType=DECIMAL}, #{extUserTypeId,jdbcType=DECIMAL}, #{openId,jdbcType=VARCHAR},
        #{lastLoginTime,jdbcType=TIMESTAMP}, #{userId,jdbcType=DECIMAL}, #{boundedTime,jdbcType=TIMESTAMP}
        )
    </insert>

    <insert id="insertSelective" parameterType="cn.bxd.sip.bxd.model.entity.ExtUser">
        insert into T_RHIP_EXT_USER
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="hospitalId != null">
                HOSPITAL_ID,
            </if>
            <if test="extUserTypeId != null">
                EXT_USER_TYPE_ID,
            </if>
            <if test="openId != null">
                OPEN_ID,
            </if>
            <if test="lastLoginTime != null">
                LAST_LOGIN_TIME,
            </if>
            <if test="userId != null">
                USER_ID,
            </if>
            <if test="boundedTime != null">
                BOUNDED_TIME,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="hospitalId != null">
                #{hospitalId,jdbcType=DECIMAL},
            </if>
            <if test="extUserTypeId != null">
                #{extUserTypeId,jdbcType=DECIMAL},
            </if>
            <if test="openId != null">
                #{openId,jdbcType=VARCHAR},
            </if>
            <if test="lastLoginTime != null">
                #{lastLoginTime,jdbcType=TIMESTAMP},
            </if>
            <if test="userId != null">
                #{userId,jdbcType=DECIMAL},
            </if>
            <if test="boundedTime != null">
                #{boundedTime,jdbcType=TIMESTAMP},
            </if>
        </trim>
    </insert>
    <update id="updateByPrimaryKeySelective" parameterType="cn.bxd.sip.bxd.model.entity.ExtUser">
        update T_RHIP_EXT_USER
        <set>
            <if test="lastLoginTime != null">
                LAST_LOGIN_TIME = #{lastLoginTime,jdbcType=TIMESTAMP},
            </if>
            <if test="userId != null">
                USER_ID = #{userId,jdbcType=DECIMAL},
            </if>
            <if test="boundedTime != null">
                BOUNDED_TIME = #{boundedTime,jdbcType=TIMESTAMP},
            </if>
        </set>
        where HOSPITAL_ID = #{hospitalId,jdbcType=DECIMAL}
        and EXT_USER_TYPE_ID = #{extUserTypeId,jdbcType=DECIMAL}
        and OPEN_ID = #{openId,jdbcType=VARCHAR}
    </update>

    <update id="updateByPrimaryKey" parameterType="cn.bxd.sip.bxd.model.entity.ExtUser">
        update T_RHIP_EXT_USER
        set LAST_LOGIN_TIME = #{lastLoginTime,jdbcType=TIMESTAMP},
        USER_ID = #{userId,jdbcType=DECIMAL},
        BOUNDED_TIME = #{boundedTime,jdbcType=TIMESTAMP}
        where HOSPITAL_ID = #{hospitalId,jdbcType=DECIMAL}
        and EXT_USER_TYPE_ID = #{extUserTypeId,jdbcType=DECIMAL}
        and OPEN_ID = #{openId,jdbcType=VARCHAR}
    </update>
</mapper>